.event-page-one {
    padding: 30px
}

.event-info {
    gap: 150px;
}


.event-page-one-image img {
    height: auto;
    width: 100%;
    object-fit: contain;
    image-rendering: high-quality; /* Ensures better quality rendering */
}

.event-page1-information {
    background-color: aliceblue;
}

.concert-ticket img {
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}

/* .concert-ticket {
    margin-left: 3vw;
} */
