.contact-middle-section {
    gap: 150px
}


.email-contact-form  input {
    width: 70%;
    padding: 5px
}

.email-contact-form  button {
    margin-left: 5px
}

.contact-questions .btn{
    background-color: #05a653;
    color: #f1f1f1
}

.contact-questions .btn:hover {
    color: #333;
    cursor: pointer;
}

