.top-body {
    background-color: #05a653;
    /* background-color: #05e653; */
    display: flex;
    height: auto;
    padding-left: 5vw;
    /* gap: 100px; */
}


.top-body .top-logo img{
    height: 100px;
    width: 100px;
}


.contacts {
    text-align: justify;
}

.contacts h1 {
    color: white;
    font-size: 65px;
    margin-top: 15vh;
}

.email-text {
    font-size: 18px;
    color: white;
    margin-top: -5vh;
}


.email-and-number {
    color: white;
}


.email-and-number .customer {
    color: white;
    font-size: 17px;
}


.text {
    display: flex;
    margin-top: 10vh;
}


.support,
.feed-back,
.media {
    text-align: justify;
    width: 20vw;
    color: white
}


.in-touch {
    margin-right: 3vw;
}


.top-form {
    background-color: white;
    border-radius: 10px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
    /* gap: 15px; */
    text-align: justify;
    /* Add box-shadow to create a floting effect on the top-form */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    /* Makes the top-form pop out slightly */
    transform: scale(1.02);
    /* Smooth transition for a better effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.top-form:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.top-form .top-form-p{
    font-size: 20px;
}

.top-form .first-input-div {
    display: flex;
    gap: 10px;
    margin-bottom: 3vh;
}


.top-form .first-input-div input{
    padding: 13px;
    border-radius: 50px;
    border: 1px solid #7e7c7c;
}

.top-form .first-input-div input:focus {
    outline: none;
    border: none
}


.top-form .other-inputs {
    display: flex;
    flex-direction: column; /* Stack inputs */
    gap: 20px;
    width: 100%; /* Ensure it takes full width */
    align-items: center;
}


.top-form input[type="email"] {
    border: 1px solid #7e7c7c;
    padding: 10px;
    width: 100%;
    margin-left: -0.5vw;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box
}


.top-form input[type="number"] {
    border: 1px solid #7e7c7c;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box
}

.top-form input[type="email"] {
    outline: none;
}


.top-form input[type="number"] {
    outline: none;
}


.top-form .help-box {
    margin-top: 2vh;
}


.top-form .help-box textarea {
    height: 20vh;
    width: 29vw;
    outline: none;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 5px;
    line-height: 20px;
}


.top-form button {
    margin-top: 3vh;
    padding: 15px;
    color: white;
    /* font-size: 20px; */
    border: none;
    border-radius: 5px;
    background-color: #05a653;
    transition: background-color 0.3s ease;
}


.top-form button:hover {
    background-color: #148f4f;
    cursor: pointer
}


.top-form .terms {
    font-size: 15px;
    color: grey;
    width: 19vw;
    display: block;
    margin-left: 5vw;
}


.top-form .terms a {
    display: inline;
    color: black;
    text-decoration: none;
}


@media (max-width: 992px) {
    .top-body {
        flex-direction: column;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-bottom: 3vh;
    }
    
    .contacts h1 {
        margin-top: 10vh;
    }

    .text {
        gap: 15px;
    }

    .text h3{
        font-size: 15px;
    }

    .support,
    .feed-back,
    .media {
        /* background-color: red; */
        width: 55vw;
        font-size: 14px;
    }

    .top-form {
        margin-top: 10vh;
        cursor: pointer;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .top-form .first-input-div input{
        padding: 13px 55px;
        border-radius: 50px;
        border: 1px solid #7e7c7c;
    }

    .top-form .help-box textarea {
        width: 82vw;
    }

    .top-form .terms {
        width: 40vw;
        margin-left: 25vw;
    }
}