#mission_vision {
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#mission_vision .container {
    background-color: #05a653;
    color: #fff;
  }
  #mission_vision > .container > div > div {
    background-size: contain;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mission_vision > .container > div > div:nth-child(2) {
    background: url("../../../../images/mission.png") center no-repeat;
  }
  #mission_vision > .container > div > div:nth-child(3) {
    background: url("../../../../images/vision.png") center no-repeat;
  }
  @media (max-width: 952px) {
    #mission_vision .container > div > div:nth-child(3) {
      display: none;
    }
    #mission_vision > .container > div > div {
      height: auto;
      min-height: 50vh;
    }
  }