.who-page {
    height: 65vh;
    padding-top: 10vh;
    background-color: white;
}

.who-page .title h2 {
    font-size: 15px;
    color: #05a653;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.who-page h2::after {
    content: "☘️";
    background-color: #05a653;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    /* height: 30px;
    width: 30px; */
}


.who-page .title p {
    font-size: 30px;
    margin-top: -1vh;
    font-weight: bold;
}


.text-center {
    /* background-color: red; */
    padding-left: 17vw;
}


.text-center p {
    margin-top: 7vh;
    font-size: 18px;
    width: 71vw;
    color: rgb(102, 101, 101);
    /* background-color: blue; */
    text-align: center;
}


.learn a {
    padding: 8px 35px;
    color: white;
    text-decoration: none;
    background-color: #05a653;
    border-radius: 5px;
    display: inline-flex;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.learn a:hover {
    color: #444444;
}


