.about-hero-section {
    background-image: url('../../images/conservation.png');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1
}

.about-hero-section p {
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    z-index: 2;
}

.about-hero-section p::after {
    content: "☘️";
    font-size: 40px;
    text-align: center;
    display: inline-block;
}


.innovation-section {
    background-color: white;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}


.innovation-section .innovation-p p {
    color: #05a653;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5vh;
}

.innovation-section .innovation-p p::after {
    content: "☘️";
    background-color: #05a653;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-left: 1vw;
    display: inline-block;
    line-height: 20px;
}


.innovation-information {
    background-color: rgb(238, 246, 248);
    display: flex;
    padding-left: 2vw;
}


.innovation-information .innovation-text p{
    text-align: justify;
    font-size: 18px;
    color: #333333
}


.innovation-image {
    padding-top: 10vh;
    padding-left: 5vw;
}

.innovation-image img {
    height: 400px;
    width: 600px;
}




.secure-section {
    background-color: white;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}


.secure-section .secure-p p {
    color: #05a653;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

.secure-section .secure-p p::after {
    content: "☘️";
    background-color: #05a653;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-left: 1vw;
    display: inline-block;
    line-height: 20px;
}


.secure-information {
    background-color: rgb(238, 246, 248);
    display: flex;
    padding-right: 2vw;
}

.secure-information .secure-text {
    padding-left: 5vw;
}


.secure-information .secure-text p{
    text-align: justify;
    font-size: 18px;
    color: #333333;
}


.secure-image {
    padding-top: 15vh;
}

.secure-image img {
    height: 400px;
    width: 600px;
}


.subscribe {
    background-image: url('../../images/subscribe.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}


.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.subscribe .container {
    position: absolute;
    z-index: 2
}


.subscribe h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding-top: 15vh;
}


.subscribe form {
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

input[type='email'] {
    padding: 20px 300px;
    padding-left: 10px; 
    text-align: left; /* Ensure the placeholder text is aligned left*/
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 2vw;
}


input[type="email"]:focus { /* Remove the focus on the border */
    outline: none;
}


.section_btn {
    background-color: #05a653;
    color: white;
    padding: 13px 30px;
    position: absolute;
    left: 29vw;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.section_btn:hover {
    background-color: #10b660;
    color: #444444;
    cursor: pointer;
}

